<script type = "text/javascript">

	function btnShow(value, metaData, record, rowIndex){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="showEquipamento(' + rowIndex + ')">'+
						'<img src="../images/show.png" title="Show" alt="Show" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function btnDelete(value, metaData, record, rowIndex, colIndex, store){
		var ret =  '<div align="center">'+
					'<a href="#" onclick="deleteEquipamento(' + rowIndex + ')">'+
						'<img src="../images/Recycle_empty.png" title="Delete" alt="Delete" ></img>'+
					'</a>'+
				'</div>';
		return ret;
	}

	function linkShow(value, metaData, record, rowIndex, colIndex, store){
		return '<div><a href="#" onclick="editEquipamento(' + rowIndex + ')">' + value + '</a></div>';
	}

	function editEquipamento(idx){
		var id = store_Equipamentos.getAt(idx).get('id');
		var name = store_Equipamentos.getAt(idx).get('name');
		addSubTab('tab_equipamentos', 'sub_tab_equipamentos_edit_'+id, 'Editing ' + name, '/equipamentos/edit/' + id, 'editIcon');
	}

	function deleteEquipamento(r){
		var id = store_Equipamentos.getAt(r).get('id');
		var name = store_Equipamentos.getAt(r).get('name');
		Ext.Msg.confirm('Delete ', 'Confirm delete equipamento: ' + name, function(btn) {
		    if (btn == 'yes') {
				Ext.Ajax.request({
		          url: 'equipamentos/destroy/'+id,
		          success: function(result, req){
		                var response = Ext.util.JSON.decode(result.responseText);
						if(response.msg){
				            Ext.Msg.alert('Warning', response.msg);
			            }else{
			      			updateSubTab('tab_equipamentos', 'sub_tab_equipamentos', 'List', '<%= equipamentos_path %>');
			      			closeSubTab('tab_equipamentos', 'sub_tab_equipamentos_edit_' + id);
			      			closeSubTab('tab_equipamentos', 'sub_tab_equipamentos_show_' + id);
					    }
		          },
		          failure: function() {
		            Ext.Msg.alert('Error','There was a problem while processing this request');
		          }
				});
		    }
		  });
	}

	function showEquipamento(r){
		var id = store_Equipamentos.getAt(r).get('id');
		var name = store_Equipamentos.getAt(r).get('name');
		addSubTab('tab_equipamentos', 'sub_tab_equipamentos_show_'+id, 'Showing ' + name, '/equipamentos/show/' + id, 'showIcon');
	}

	function newEquipamento(){
		addSubTab('tab_equipamentos', 'sub_tab_equipamentos_new', 'New equipamento', '<%= url_for(:action => "new") %>', 'newIcon');
	}

	var store_Equipamentos = createStore(
		'<%= url_for(:controller => "equipamentos", :action => "store", :id => "grid") %>',
		['id', 'codigo', 'modelo', 'tipo', 'serie', 'horas_dia'],
		[{name: 'id'},{name: 'codigo'},{name: 'modelo'},{name: 'tipo'},{name: 'serie'},{name: 'horas_dia'}]
	);

	var pBar = createPBar(store_Equipamentos, 'equipamentos');

	<%= include_buttons_equipamentos %>
	var btnsEquipamentos = createEquipamentosBtns();
	var cmdBar = createCmdBar(btnsEquipamentos);
	var cols =
		[
       		{header: 'Codigo', dataIndex: 'codigo', sortable: true, renderer: linkShow},
      		{header: 'Modelo', dataIndex: 'modelo', sortable: true},
      		{header: 'Tipo', dataIndex: 'tipo', sortable: true},
      		{header: 'Serie', dataIndex: 'serie', sortable: true},
      		{header: 'Disponibilidade<br />(hrs/dia)', dataIndex: 'horas_dia', sortable: true},
      		{id: 'edit', dataIndex: 'edit', renderer: btnShow},
      		{id: 'delete', dataIndex: 'delete', renderer: btnDelete, width: 40}
  		];

  	var grid_Equipamentos = createGrid(store_Equipamentos, 'Lista de Equipamentos', cmdBar, pBar, cols);
	store_Equipamentos.load({params: {start:0 , limit:10}});
	grid_Equipamentos.render('equipamentos_index_grid_content');

</script>

<div id = "equipamentos_index_grid_content">
  	<!-- AREA TO RENDER GRID  -->
</div>